/*
Kwintyn Porter 
Web & Distributed Programming
My Favorite Hobby PA-3
Fall 2018    
*/ 
body {
    background-color: darkseagreen; 
}
h1 {
    color: black;
}
p {
    color: darkgreen;
}
h2 { 
    color: olive; 
}